$tableSize: 500px;
$largeFont: Arial, sans-serif;


body {
    background-color: grey;
}
.base {
    text-align: center;
    font: 80px $largeFont;
    text-decoration: none;
}
.counterChoice {
    @extend .base;
    margin: 30% auto;
    width: 50%;
    display: block;
}

.counterChoiceButton {
    @extend .base;
    display: inline-block;
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
}

button:active {
    color: black;
    background-color: white;
}

table {
    margin: auto;
    display: block;
    border: 1px solid black;
    width: $tableSize + 5;
    height: $tableSize + 9;
}

td {
    @extend .base;
    border: 1px solid black;
    height: $tableSize/3;
    width: $tableSize/3;
}
